testlb2/8Ball Anwendung/8Ball Anwendung/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/serviceConsole/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/serviceConsole/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/serviceConsole/Service1/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_first_InputMessage">
    <wsdl:part name="parameters" element="tns:first" />
  </wsdl:message>
  <wsdl:message name="IService1_first_OutputMessage">
    <wsdl:part name="parameters" element="tns:firstResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ansage_InputMessage">
    <wsdl:part name="parameters" element="tns:ansage" />
  </wsdl:message>
  <wsdl:message name="IService1_ansage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ansageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_other_InputMessage">
    <wsdl:part name="parameters" element="tns:other" />
  </wsdl:message>
  <wsdl:message name="IService1_other_OutputMessage">
    <wsdl:part name="parameters" element="tns:otherResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="first">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/first" message="tns:IService1_first_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/firstResponse" message="tns:IService1_first_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ansage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ansage" message="tns:IService1_ansage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ansageResponse" message="tns:IService1_ansage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="other">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/other" message="tns:IService1_other_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/otherResponse" message="tns:IService1_other_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="first">
      <soap:operation soapAction="http://tempuri.org/IService1/first" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ansage">
      <soap:operation soapAction="http://tempuri.org/IService1/ansage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="other">
      <soap:operation soapAction="http://tempuri.org/IService1/other" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/serviceConsole/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>